* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: "Times New Roman", serif;

}

h1{
    text-align: center;
    margin-bottom: 7px;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 10px 0;
}

form {
    width: 900px;
    height: 250px;
    padding: 30px;
    margin: auto;
    text-align: left;
    position: absolute;
    left: 50%; 
    transform: translateX(-50%); 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    background-color: #ffffff;
}

form label{
    display: flex;
    text-align: center;
    margin: 5px;
}

input[type="checkbox"]{
    appearance: none;
    width: 20px;
    height: 20px;
    background-color:#dd3619;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

input:checked::before{
    content: "";
    width: 90%;
    height: 90%;
    background: url(/static/img/check.svg);
    background-size: 100%;
    display: block;
}

form button{
    color: white;
    background-color: #dd3619;
    padding: 10px 5px;
    margin-bottom: 10px;
    width: 100%;
    border: 0;
    transition: all .3s ease;
    font-weight: 600;
    margin-top: 10px;
}

form button:hover{
    background-color: #6bc202;
}