<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logipack</title>

    <link rel="stylesheet" href="/static/css/registrarPaquete.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <link rel="icon" href="/static/img/descargar.jpeg">
    <link href="../static/css/registrarPaquete.css" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">  

</head>

<body>
        <div class="">
            <form action="/registrarPaquete" method="POST">
                <h2>Registrar paquete</h2>
                <label for="peso">Peso del paquete:
                    <input type="text" id="" placeholder="" name="peso">
                </label>
                <label for="nombre">Nombre:
                    <input type="text" id="" placeholder="" name="nombre">
                </label>
                <label for="dirdestinatario">Dirección del destinatario:
                    <input type="text" id="" placeholder="" name="dirdestinatario">
                </label>
                <input type="submit" value="Registrar Paquete">
            </form>
        </div>
</body>

</html>